<#import "/template/layout.ftl.html" as l>

<@l.layout title="${i18n('hello.title')}">
<div class="content-panel">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="glyphicon glyphicon-align-justify"></i>
                ${i18n("hello.title")}
                </h4>
            </div>
            <div class="panel-body">
                ${i18n("hello.content")}
            </div>
        </div>
    </div>
</div>
</@l.layout>