
div.field-error {
    color: #d9534f;
    font-size: smaller;
    margin-top: 5px;
}

div.btn-bar{
    margin: 10px auto;
}

input.not-visible-filed {
    height: 0;
    width: 0;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    padding: 0;
    margin: 0;
    border: none;
}